header,
section,
aside,
nav,
footer {
    text-align: center;
    background-color: #4279c2;
    padding: 15px;
    margin: 0 1% 14px 1%;
    border-radius: 10px;
}

nav {
    float: left;
    width: 29%;
}

section {
    float: right;
    width: 62.7%;
}


.container {
    clear: both;
    display: flex;
}

aside {
    float: left;
    width: 29.2%;
    height: 50vh;
}

footer {
    clear: both;
    bottom: 0;
}

@media all and (max-width: 420px) {
    header,
    section,
    aside,
    nav,
    footer {
    text-align: center;
    background-color: #4279c2;
    float: none;
    width: auto;
 }

 aside {
    float: none;
    width: auto;
}


}